{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
    <h1>Project: </h1>

{#    <h3>{{ title }}</h3>#}
{#    <p>Description: {{ description }}</p>#}
{#    <p>Creation date: {{ creation_date }}</p>#}
{#    Team:#}
{#    <ul>#}
{#        {% for user in employees %}#}
{#            <li><a href="" > {{ user.username }}</a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{##}
{#    {% if edit_project_permission %}#}
{#    <a href="">Edit project</a>#}
{#    {% endif %}#}
{##}
{##}

    <form action="{% url 'manager:project-detail' project.id %}" method="post">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Save" />
    </form>

    <h2>Tasks of project: </h2>
    <ul>
        {% for task in project.tasks.all %}
             <li><a href="" > {{ task.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}