{% extends "base.html" %}

{% block content %}
    <h1>Project: </h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url "manager:delete_project" project.pk%}">Delete project</a>
    </form>

    <h2>Tasks of project: </h2>
    {% if create_task_permission %}
        <a href="{% url 'manager:create_task' project.pk %}">Create new task</a>
    {% endif %}
    <br>
    <br>
    <ul>
        {% for task in tasks %}
            <li><a href="{% url 'manager:detail_task' project.pk task.pk %}" > {{ task.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}