{% extends "base.html" %}

{% block content %}
    {% if create_project_permission %}
             <a href="{% url 'tasks:create_project' %}">Create new project</a>
    {% endif %}
    {%  if projects_list %}
        <h1>All projects:</h1>
        <ul>
            {% for project in projects_list %}
                <li><a href={% url 'tasks:detail_project' project.pk %}>{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}
{% endblock content %}